
header(id="app-header" class="app-header")
    div(class="header-content")
        div(class="container")
            nav 
                div(class="logo-app")
                    a(href="/admin") logo application
                div(class="nav-links")
                    ul 
                        li 
                            a(href="/image") create image 
                        li 
                            a(href="") create background image 
                        li 
                            a(href="") create templete
                        li 
                            a(href="") create heading 
                        li 
                            a(href="") create link